[package]
name = "meshcore_roles"
version = "0.1.0"
license = "MIT"
edition = "2024"

[dependencies]
log = { version = "*", optional = true }
defmt = { version = "*", optional = true }

# MeshCore = { version = "*", default-features = false }
[dependencies.MeshCore]
git = "https://git.housedillon.com/wdillon/Meshcore-rs.git"
# FIXME unable to build for no_std currently
# default-features = false

[features]
log = ["dep:log"]
defmt = ["dep:defmt"]

std = [
    "MeshCore/std"
]