[package]
name = "common"
version = "0.1.0"
license = "MIT"
edition = "2024"
publish = false


[dependencies]
log = "*"

embassy-executor = { version = "*", features = ["log"] }
embassy-time = { version = "*", features = ["log"] }
# embassy-futures = "*"
# embassy-sync = "*"
# critical-section = "*"

# BLE service
trouble-host = { version = "*", features = [
    "default-packet-pool-mtu-255",
    "derive",
    "scan",
] }



# provide LORA radio drivers
lora-phy = "*"